###############################################################################
# Set default behavior to NOT normalize the line endings.                     #
###############################################################################
* -text
